---
 const personalImageAlt = "Sharukhi"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
     Hello! I’m Ataullah Sharukhi, an indie developer based in Dhaka, Bangladesh. Growing up, I taught myself how to do computer stuff and discovered that I really enjoy making things. That’s mostly it. Currently I’m mostly exploring this world of technology and working on my personal projects.
    </p>

    <p>
      If you want to get in touch with me about something or just to say hi, reach out on social media or send me an email — <a href="mailto:mail@sharukhi.net" class="underline" target="_blank">mail@sharukhi.net</a>
    </p>

  </div>

  <img width="200" height="200" src="/pfp.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-64 p-1 md:order-2 lg:rotate-3 md:lg:rotate-3 sm:rotate-3 rotate-0 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>





