---
const personalImageAlt = "Sharukhi"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
---

<div class="max-w-xl pt-11">

  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hi, i'm Sharukhi
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    an <strong>Indie Developer</strong>
 based in Dhaka, Bangladesh. Specialized in web application development.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:mail@sharukhi.net">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://github.com/sharukhi">
      <GitHub class="size-4" />
      Github
    </SocialPill>
  </nav>
</div>
