<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://sharukhi.xyz/assets/css/style.css" />
  <title>{{ .Site.Params.Name }}</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="https://sharukhi.xyz/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="https://sharukhi.xyz/icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="https://sharukhi.xyz/icons/favicon-16x16.png"
  />
  <link rel="manifest" href="https://sharukhi.xyz/icons/site.webmanifest" />
  <link
    rel="mask-icon"
    href="https://sharukhi.xyz/icons/safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <link rel="shortcut icon" href="https://sharukhi.xyz/icons/favicon.ico" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta
    name="msapplication-config"
    content="https://sharukhi.xyz/icons/browserconfig.xml"
  />
  <meta name="theme-color" content="#ffffff" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Sharukhi" />
  <meta name="twitter:site" content="@https://sharukhi.xyz/" />
  <meta
    name="twitter:description"
    content="I’m an indie developer based in Bangladesh. I specialize in building web applications and sites using Javascript, Svelte & Flask. I am always up for a challenge and eager to learn and grow. I am also "
  />
  <meta name="twitter:image" content="https://sharukhi.xyz//og.png" />
  <meta name="twitter:image:alt" content="Open Graph" />

  <meta
    name="description"
    content="I’m an indie developer based in Bangladesh. I specialize in building web applications and sites using Javascript, Svelte & Flask. I am always up for a challenge and eager to learn and grow. I am also excited about where my love for technology will take me in the future!"
  />
  <meta name="author" content="Sharukhi" />
  <meta name="copyright" content="Sharukhi" />
  <meta name="robots" content="index, follow" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Sharukhi" />
  <meta property="og:url" content="https://sharukhi.xyz/" />
  <meta property="og:image" content="https://sharukhi.xyz/og.png" />
  <meta
    property="og:description"
    content="I’m an indie developer based in Bangladesh. I specialize in building web applications and sites using Javascript, Svelte & Flask. I am always up for a challenge and eager to learn and grow. I am also excited about where my love for technology will take me in the future!"
  />
</head>
